.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #f0f0f0;
    color: #17141d;
    box-sizing: border-box;
}

.userProfile {
    padding-right: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.quickActions {
    padding: 0 1rem;
}

.mainContent {
    height: calc(100% - 70px);
}